*
{
    margin:0;
    padding:0;
    list-style: none;
}
@font-face {
    font-family: 'SansCulottes';
    src: url('../public/assets/SansCulottes.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../public/assets/Lato/Lato-Regular.ttf');
}
h1, h2, h3, h4, h5, h6
{
    font-family: SansCulottes;
}
p, span, a
{
    font-family: Lato;
}
a
{
    text-decoration: none !important;
}
h2
{
    font-size:40px !important;
}
p
{
    padding:20px 0px;
}
ul
{
    padding:0px !important;
}
section
{
    padding:80px 0px;
    background-color: #F2E3DB;
}
body
{
    overflow-x: hidden;
}
.button1
{
    background-color: #41644A;
    color:#fff;
    border-radius: 30px;
    padding:12px 25px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.button1:hover
{
    background-color: #E86A33;
}
.button2
{
    background-color: #41644A;
    color:#fff;
    border-radius: 30px;
    padding:12px 25px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.button2:hover
{
    background-color: #E86A33;
    color:#fff;
}
/* header */
.navbar
{
    background-color:#263A29;
}
.navbar-brand img
{
    width:60px;
}
.logo-text
{
    font-family: SansCulottes;
    color:#fff;
    font-size:35px;
    position: relative;
    top:10px;
    left:10px;
}
.nav-item .nav-link
{
    color:#fff;
    text-transform: uppercase;
}
.nav-item .nav-link:hover
{
    color:#fff;
    border-bottom: 2px solid #E86A33;
}
.navbar-nav .nav-link.active
{
    color: #fff !important;
    border-bottom: 3px solid #E86A33;
}
.navbar-nav .nav-link:visited
{
    color: #fff !important;
}
.navbar-nav li
{
    margin-left:30px;
}
.navbar-nav li:last-child
{
    margin-left:0;
}
.navbar-toggler
{
    border-color: #fff !important;
}
.navbar-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}
.offcanvas
{
    background-color: #263A29 !important;
    width:300px !important;
}
.offcanvas-header .btn-close
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}
.offcanvas-title
{
    color:#fff;
}
@media screen and (max-width:768px) {
.navbar-nav li:last-child
{
    margin-left:30px;
}
.navbar-nav li
{
    margin-top:20px;
}
}
/* Hero banner */
.hero-banner
{
    background-image: url('../public/images/hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:#fff;
}
.hero-banner h1
{
    font-size:65px;
    text-transform: uppercase;
}
.hero-banner p
{
    font-size: 18px;
}
/* About Section */
.about-section img
{
    width:90%;
}
/* Bg Section */
.bg-section
{
    background-image: url('../public/images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:40vh;
}
/* Offers Section */
.offers-section
{
    background-color: #263A29;
    color:#fff;
}
/* logotext section */
.logotext
{
    background-image: url('../public/images/bg-image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(38, 58, 41, 0.8);
    background-blend-mode: overlay;
    color:#fff;
    height:80vh;
}
.logotext img
{
    width:150px;
}
.logotext p
{
    font-size:18px;
}
.newsletter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter input
{
    width:50%;
    border-radius: 30px;
    height:50px;
}
.newsletter .button1
{
    position: relative;
    left:-60px;
}
.form-control:focus
{
    border-color: #E86A33 !important;
    box-shadow: 0 0 0 0.25rem rgba(232, 105, 51, 0.479) !important;
}
@media screen and (max-width:768px) {
.newsletter
{
    display: block;
    margin: 0 auto;
}
.newsletter input
{
    width:100%;
}
.newsletter .button1
{
    position: relative;
    left:0px;
    top:20px;
}
}
/* Footer */
footer
{
    background-color: #263A29;
    padding:60px 0px;
    color:#fff;
}
footer img
{
    width:50px;
}
footer li
{
    margin:10px 0px;
}
footer a
{
    color:#fff !important;
}
footer a:hover
{
    color:#E86A33 !important;
}
.social-list li
{
    display: inline;
    margin-left:10px;
    
}
footer p
{
    margin-bottom:0px !important;
}
.social-list a
{
    background-color:#F2E3DB;
    border-radius: 50%;
    padding: 8px 10px;
    color: #41644A !important;
    transition: all 0.5s ease-in-out;
}
.social-list a:hover
{
    background-color:#E86A33;
    border-radius: 50%;
    padding: 8px 10px;
    color: #fff !important;
}
@media screen and (max-width:768px)
{
    footer
    {
        padding:30px;
    }
    footer h3
    {
        margin-top:20px;
    }
    .logotext img {
    width: 120px;
}
.about-section img {
    width: 75%;
}
.offers-section img {
    width: 75%;
}
}